/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
$base-font-family: sans-serif;
$indent-amount: 40px;
$breakpoint-wide: min-width 47em;
dl,
menu,
ol,
ul {
  margin: rhythm(1) 0;
}
dd {
  margin: 0 0 0 $indent-amount;
}

menu,
ol,
ul {
  padding: 0 0 0 $indent-amount;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
   -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-family: $base-font-family;
}
a {background: transparent;}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
samp {font-family: 'courier new', monospace;}

form {margin: 0;}
.gallery {
  img {
    @include breakpoint($breakpoint-wide) {
      width: 49.3%;
      float: left;
      margin: 2px;
    }
  }
}
