/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$base-font-size: 16px;
$base-line-height: 24px;
$legacy-support-for-ie7: false;
$legacy-support-for-ie6: false;
$strict-normalize: true;
$base-font-family: sans-serif;

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// The amount lists and blockquotes are indented.
$indent-amount: 40px;

@import "compass/support";
@import "compass/css3/box-sizing";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/links/link-colors";
@import "breakpoint";

//links
$normal: rgb(0, 0, 255);
$hover: rgba(0, 0, 255, 0.5);
$active: rgba(0, 0, 255, 0.5);
$visited: rgba(0, 0, 255, 0.2);
$focus: rgba(0, 0, 255, 0.2);

$breakpoint-slim: max-width 46em;
$breakpoint-slimmest: max-width 27em;

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        *display: inline;
        *zoom: 1;
    }
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
html {
  font-family: $base-font-family; /* 1 */
  @if not $strict-normalize or $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    font-size: 100% * ($base-font-size / 16px); /* 3 */
  }
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */

  @if not $strict-normalize {
      /* Establish a vertical rhythm unit using $base-line-height. */
      @include adjust-leading-to(1);
  }
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
p,
pre {
  margin: rhythm(1) 0;
}
/* Set 1 unit of vertical rhythm on the top and bottom margin. */
blockquote {margin: rhythm(1) $indent-amount;}

h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  @if not $strict-normalize or $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    @include adjust-font-size-to( $h1-font-size );
  }
  @else {
    font-size: 1em * ($h1-font-size / $base-font-size);
  }

  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  @include leader(1, $h1-font-size);
  @include trailer(1, $h1-font-size);
}

@if not $strict-normalize or $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  h2 {
    @include adjust-font-size-to( $h2-font-size );
    @include leader(1, $h2-font-size);
    @include trailer(1, $h2-font-size);
	}

	h3 {
    @include adjust-font-size-to( $h3-font-size );
    @include leader(1, $h3-font-size);
    @include trailer(1, $h3-font-size);
	}

	h4 {
    @include adjust-font-size-to( $h4-font-size );
    @include leader(1, $h4-font-size);
    @include trailer(1, $h4-font-size);
	}

	h5 {
    @include adjust-font-size-to( $h5-font-size );
    @include leader(1, $h5-font-size);
    @include trailer(1, $h5-font-size);
	}

	h6 {
		@include adjust-font-size-to( $h6-font-size );
		@include leader(1, $h6-font-size);
		@include trailer(1, $h6-font-size);
	} 
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {font-style: italic;}

hr {
  @include box-sizing(content-box);
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {white-space: pre-wrap;}

q {quotes: "\201C" "\201D" "\2018" "\2019";}
small {font-size: 80%;}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    margin: 0 2px;
    /* Apply borders and padding that keep the vertical rhythm. */
    border-color: #c0c0c0;
    @include apply-side-rhythm-border(top,    $width: 1px, $lines: 0.35);
    @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0.65);
    @include apply-side-rhythm-border(left,  $width: 1px, $lines: 0.625);
    @include apply-side-rhythm-border(right, $width: 1px, $lines: 0.625);
}
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}
button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    @include box-sizing(border-box); /* 1 */
    padding: 0; /* 2 */
}
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    @include box-sizing(content-box); /* 2 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.site {
	@include breakpoint($breakpoint-slim) {
		width: 30em;
	}
	@include breakpoint($breakpoint-slimmest) {
		width: 18em;
	}
}
p a { @include link-colors($normal, $hover, $active, $visited, $focus) }
body {font-size: normal;}
