<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <!-- Custom CSS -->
    <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> 
    <link rel="stylesheet" media="print" href="{{ site.baseurl }}/print.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
    <script type="text/javascript" src="//use.typekit.net/pib4drv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
    <div class="site">
      <div class="header">
        <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <a class="extra" href="{{ site.baseurl }}/">home</a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            Lori Ortiz<br />
            Designer Developer<br />
            lori [at] loriortiz.com
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://artanddesign.us">website</a><br />
            <a href="https://twitter.com/LoriNYNY">twitter</a><br />
            <a href="https://github.com/lorio">github</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
